# Ignore PyCharm IDE files
.idea/

# Ignore any ndjson or bin files -> can add exceptions with !folder/*.ndjson
*.ndjson
*.bin

# Ignore any .pyc files that are not important
LVQ-sean/*.pyc

# Ignore any large output folders
out/
out-*/
logs/
logs_*/
weights/
weights-*/
exports/
dataset/
LVQ-sean/images/
LVQ-sean/im_out/